<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>

    </a>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Baryshev's project</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/people">People</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/orders">Orders</a></li>
                </ul>
            </div>
        </nav>

   <!-- <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная страница</a></li>
        <li class="nav-item"><a href="/people" class="nav-link">People</a></li>
        <li class="nav-item"><a href="/products" class="nav-link">Products</a></li>
        <li class="nav-item"><a href="orders" class="nav-link">Orders</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>-->
</header>

</div>


